.container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  color: white;
}

html,
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

button {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  background-color: transparent;
  color: white;
}

.converter-input {
  padding: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  background: transparent;
  margin: 1rem 0rem;
  color: white;
}

#resultHeader {
  color: white;
}

#romanValueList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0rem;
  flex-wrap: wrap;
}

li {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 1rem;
}
